.c_funnel {
    $self:&;
    box-sizing:border-box;
    margin-top:2rem;
    position:relative;
    font-family:$fuente_medium;
    //para quitar el padding después;
    padding:2rem;
    font-size:1em;


    @media only screen and (min-width:767px) {
        >:nth-child(n+2):not(.c_funnel__Catalog) {
            margin: 2rem 5rem
        }
    }
    
    &__Head {
        font-size:1em;
        margin-top:4.5rem;
        margin-bottom:3rem;
        
        @media only screen and (min-width:400px) {
            margin-top:0;

        }
        
        strong {
            display:block;
            margin-top:1rem;

        }
        
    }
    &__Icons {
        position:relative;
        padding:3rem 0 0;


        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-flow:row wrap;
        align-content: space-between;

        
    }

    &__progress {
        $self:&;
        position: relative;
        margin: 0 auto;
        height: .65rem;
        background: gainsboro;
        border-radius:.5rem;
        margin-bottom: 4.5rem !important;

        &--Steps {
            @extend #{$self};
            height:.7rem;

            #{$self}Value {
                background:rgb(6, 109, 141);
            } 

        }

        &Value {
            border-radius:inherit;
            display:block;
            height:100%;
            background:red;

        }
        &Text{
            display:block;
            margin-top:1rem;
            text-align:center;
        }
    }

    &__icLink {
        position:relative;
        $self:&;
        list-style: none;
        display:flex;
        align-items:center;
        padding: 1rem 2rem 2rem;
        border: 1px solid gainsboro;
        flex-flow:column;
        border-radius: .5rem;
        margin-bottom: 3rem;


        
        &Icon {
            display: block;
            width:5rem;
            height:5rem;            
            border-radius: 50%;
            border:5px solid white;
            box-shadow: 0 0 0px 5px black;
            background: url(../imgs/pizza_Funnel.svg) no-repeat center top / cover;
            #{$self}.active & {
                background: url(../imgs/pizza_Funnel--green.svg) no-repeat center top / cover;
                box-shadow: 0 0 0px 5px rgba(0, 128, 0, 1);
            }
            #{$self}.disabled &{
                opacity:.2
            }
        }


        &::after {
            display:block;
            content:">";
            position:absolute;
            top:50%;
            right: 0.5rem;
            transform: translateY(calc(-50% + -3px));
            font-size: 2.2em;

        }
        &.active::after {
            color:rgba(0, 128, 0, 1);
        }
        &.disabled::after {
            opacity:.2;
        }



        &Text {
            position:relative;
            padding-left:2rem;
            font-size:1.25em; 
            padding-right:2rem;
            margin-bottom: 1rem;
            #{$self}.active & {
                color:rgba(0, 128, 0, 1);
            }
            #{$self}.disabled &{
                opacity:.2
            }           
            
            
            #{$self}._active &{
                color:green;

            }  
        }

        &:nth-of-type(n):not(:last-of-type) {
            margin-right:.4rem;
        }



    }
    &__Sep{
        $self:&;
        height:3px;
        background:rgba(220, 220, 220, 0.39);
        display:block;
        margin: 2rem auto;
        border:none;



    }
    &__BoxSec {
        display:flex;
        flex-flow:row wrap;
        justify-content:center;
        align-items:center;



    }
    &__Info{
        flex:1 1 auto;
        padding: 1rem 0 3rem;
        
        @media only screen and (min-width:612px) {
            padding: 1rem 0 0;
        
    }
}


    &__buttons {
        flex:0 1 32rem;
        display:inline-flex;
        justify-content:center;
        align-items: center;

    }

    &__Catalog {
        position:absolute;
        top:.5rem;
        right:2.5rem;
        padding: 1rem 2rem;
        background:black;
        border-radius:1.2rem;
        span {
            color:white;
        }
    }

    &__textSelec {
        font-size:1.35em;
        display: inline-flex;
        justify-content: center;
        line-height: 2.7rem;
        &.active {
            color:rgba(0, 128, 0, 1);
        }

        &:before {
            content: attr(data-stepID);
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 2rem;
            color: green;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: relative;
            border: 1.8px solid;
            padding-top: 2px;
            font-size: 0.9em;
        }
    }



}


$final1:3 ;
$final2:4 ;
$final3:7 ;


@for $i from 1 to $final1 {
    $average:100/($final1 - 1);
    .prog_#{$i}_of_#{$final1 - 1} {
        width: $average * $i * 1%;
    }
}




    
    
    @for $i from 1 to $final2 {
        $average:100/($final2 - 1);
        .prog_#{$i}_of_#{$final2 - 1} {
            width: $average * $i * 1%;
        }
    }

    @for $i from 1 to $final3 {
        $average:100/($final3 - 1);
        .prog_#{$i}_of_#{$final3 - 1} {
            width: $average * $i * 1%;
        }
    }


/* .active {
    color: green;
    
} */